page-notLogin {
    .zn-score-area
    {
        color : color($colors,primary);
        float : right;
        font-size: 0.8em;
    }
    .goodsNm{
        font-weight: bold;
        font-size: 1.5em;
    }
    .cnt_area > span
    {
        margin-left:10px;
    }

    .footer button
    {
        font-size : 1.5em;
    }
}

