page-home {
    
    .badge{
        position: absolute;
        top: 3%;
        right: calc(50% - 20px);
        border-radius: 50%;
    }
    .profileImg img{
        border-radius: 50%;
        overflow: hidden;
        width: 7em;
        height: 7em;
     
    }
    .profileImg {
        text-align:center;
        margin-top : 1em;
    }
    .profileImg .title{
        color : color($colors,head_title) ;
        font-size: 2em;
        margin:0.5em;
        
    }
    .menu-list
    {
        margin-top: 1em;
    }
    .menu-list .label
    {
        margin : 0px;
    }
    .menu-list .icon
    {
        margin-right: 0.5em;
        margin-left: 0.5em;
        width:3em;
        vertical-align: middle;
        margin-top: -5px;
    }
}
