<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content ></ion-nav>
<ion-content>
  <ion-list class="noMarginNoPadding">
    <button class="noMarginNoPadding" ion-item *ngFor="let data of dataList" (click)="itemClicked(data)">
      <ion-card class="noMarginNoPadding fillWidth">
          <img class="homepageProducerImg" src="https://avatars3.githubusercontent.com/u/4013348?s=88&v=4">{{data}}<br>
        <img class="homepageGoodsImg" src="https://avatars3.githubusercontent.com/u/4013348?s=88&v=4">
      </ion-card>
    </button>
  </ion-list>
</ion-content>
<ion-footer class="test">
  <ion-toolbar (click)="test()" transparent>
    <div class="divCenter">
      <img class="homepageRcmdBtnIcon" src="assets/icon/btn_icon_product.png">
      <span class="homepageRcmdBtnText">제품 추천</span>
    </div>
  </ion-toolbar>
</ion-footer>