<ion-header>
 

  <ion-toolbar >

      <ion-buttons left>
        <button ion-button menuToggle color="primary">
            <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>
      <img src="assets/icon/titlebar_logo.png" alt="지인마켓" style="width:7em"/>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only  color="primary">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge color="danger" [hidden]="0 >= rest.userInfo.not_yet_read">{{rest.userInfo.not_yet_read}}</ion-badge>
          
        </button>
      </ion-buttons>
  
    </ion-toolbar>
</ion-header>
<ion-menu [content]="content">
  <ion-header >
    <ion-toolbar  >
      <div class="profileImg">
        <img [src]="rest.userInfo.mem_img" />
        <div class="title">{{rest.userInfo.mem_nm}}</div>
      </div>  
      
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines class="menu-list">
      <button menuClose color="menu"  ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <img [src]="p.icon" class="icon" /> {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
<ion-content class="cards-bg social-cards">

  <ion-card *ngFor="let data of dataList" (click)="itemClicked(data)">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="data.rcmd_mem_img">
      </ion-avatar>
      <h2>{{data.rcmd_mem_nm}}</h2>
      <p>{{data.reg_dttm | date:'yyyy-MM-dd'}}
        <span float-right>{{data.sale_end_dd}}</span>
      </p>
    </ion-item>

    <ion-card-content>
      <p>
        <span class="goodsNm">{{data.goods_nm}}</span>
        <span float-right>{{data.sellprice | number}}원</span>
      </p>
    </ion-card-content>
    <img [src]="rest.config.img_goods_root_path + data.list_img_1">
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          <span>댓글 {{data.comment_cnt | number}}개</span>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          <span>주문 {{data.tot_sale_cnt | number}}개</span>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
          <ion-icon name='text'></ion-icon>
          <span>재고수량 {{data.tot_stock_cnt | number}}개</span>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar (click)="goGoodsRegister()" color="primary">

    <ion-title center>
      <ion-icon name="add-circle"></ion-icon> 상품소개 하기</ion-title>

  </ion-toolbar>
</ion-footer>